<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        colors = "true"
        syntaxCheck = "false"
        strict = "true"
        bootstrap = "vendor/autoload.php" >

    <testsuites>
        <testsuite name="main">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>lib</directory>
        </whitelist>
    </filter>

    <!-- Enable the coverage -->
    <!-- <logging>
         <log type="coverage-html" target="/path/to/coverage" charset="UTF-8"/>
    </logging> -->
</phpunit>
